*{margin: 0; padding: 0;  font-family: 'Œ¢»Ì—≈∫⁄', microsoft yahei, sans-serif;}
ul,li{list-style: none;}
a,a:visited,a:link,a:active,a:hover{ text-decoration: none;}
html{height: 100%;}
body { height: inherit; position: relative; margin: 0; overflow: hidden;}

.outBox{ width: 100%; height: 100%;}
.bt_temp{ position: absolute; z-index: 1; width: 100%; height: 100%; background: url("../images/bg_temp_map.jpg")top center no-repeat;}

.renWuBox{display: none; position: relative; z-index: 500; left: 20px; top:120px; width: 340px; height: 605px; border-radius: 5px; background: #fff; box-shadow: 0 2px 5px rgba(0,0,0,.3); overflow: hidden;}
.closeBt{ position: absolute; right: 5px; top: 5px; padding: 3px; width: 30px; height: 30px; border-radius: 2px; cursor: pointer; overflow: hidden;}
.closeBt{  transition:all 300ms ease;}
.closeBt:hover{ background: #5678a1;}
.closeBt:before{ position: absolute; width: 100%; height: 1px; left: 0; top: calc(50% - 1px); background: #fff;transform:rotate( 45deg);display: block; content: "";}
.closeBt:after { position: absolute; width: 100%; height: 1px; left: 0; top: calc(50% - 1px); background: #fff;transform:rotate(135deg);display: block; content: "";}
.rwTop{ width: 100%; height: 150px; background: #436996;}
.twTop_title{ margin: 0 15px;  height:50px; line-height: 50px; font-size: 16px; font-weight: bold; border-bottom: 1px solid #5678a1; color: #fff;}
.rwProcessBox{ display: flex; padding: 20px 10px 0 10px; color: #fff; justify-content:center; box-sizing: content-box;}
.rwProcess{position: relative; padding-top: 40px; flex-grow:1; font-size: 12px; text-align: center; box-sizing: content-box;}
.rwProcess:after{ position:absolute; top:-3px; left: calc(50% - 10px); display: block; content: ""; width: 20px; height: 20px; background: #94b3d8; border: 3px solid #94b3d8;  border-radius: 50%; box-sizing: content-box;}
.rwProcess:nth-child(1):after{ background: #004190;}
.rwProcess:nth-child(2):after{ background: #ffe100;}
.rwProcess:nth-child(3):after{ background: #ed6c00;}
.rwProcess:nth-child(4):after{ background: #b31a25;}
.rwProcess:before{position:absolute; top:10px; left: 50%; display: block; content: ""; width: 100%; height: 0; border-bottom: 1px dashed #94b3d8; box-sizing: content-box;}
.rwProcessBox .rwProcess:last-child:before{display: none;}
.rwDone.rwProcess:after{ top:-3px; left: calc(50% - 10px); border: 3px solid #436996; box-shadow: 0 0 5px 2px #87e4ff;}
.rwDone.rwProcess:nth-child(1):after{ background: #004190;}
.rwDone.rwProcess:nth-child(2):after{ background: #ffe100;}
.rwDone.rwProcess:nth-child(3):after{ background: #ed6c00;}
.rwDone.rwProcess:nth-child(4):after{ background: #b31a25;}
.rwProcessAni{animation: rwProcessAni 2s ease infinite;}
.rwDone.rwProcess.currentProcess:after{animation: rwProcessAni 1.5s ease infinite;}
@keyframes rwProcessAni
{
    0%   {opacity: .9; transform: scale(.95); box-shadow: 0 0 2px 2px #87e4ff;}
    50%  {opacity: 1; transform: scale(1.1);  box-shadow: 0 0 0 1px #fff, 0 0 8px 2px #87e4ff;}
    100% {opacity: .9; transform: scale(.95); box-shadow: 0 0 2px 2px #87e4ff;}
}
.processInfo{color: #94b3d8;}
.rwDone .processInfo{color: #fff;}

.rwContent{ width: 100%; height: 455px;}
.rwTabs{display: flex; height: 49px; border-bottom: 1px solid #e0e0e0; cursor: pointer;}
.rwTab{ position: relative; flex-grow:1; height: 50px; line-height: 50px; font-size: 16px; color: #999999; text-align: center; cursor:pointer;}
.rwTab.active{color: #000;cursor:default;}
.rwTab.active:after{position:absolute; bottom:0; left: 0; display: block; content: ""; width: 100%; height: 3px; background: #e67f11;}
.rwShowBox{ height:405px; overflow: hidden; font-size: 14px;}
.rwDetail{ display: none;}
.rwDetail.active{}
.rwDetail_title{ line-height: 43px; border-bottom: 1px solid #e0e0e0; margin:0 15px; font-weight: bold;}
.rwDetail>ul{ padding:0 15px;}
.rwDetail>ul>li{ height: 38px; line-height: 38px; border-bottom: 1px dashed #e0e0e0; }
.rwDetail>ul>li>.label{ float: left; color: #999; line-height: 38px; padding: 0; font-weight: normal;}
.rwDetail_explain{ padding: 5px 15px;}
.rwDetail_explain_title{ line-height: 43px; border-bottom: 1px solid #e0e0e0; font-weight: bold;}
.rwDetail_explain_info{ font-size: 12px; color: #999; line-height: 24px; padding: 5px 0;}
.rwDetail_explain_info p{ font-size: 12px; color: #999; line-height: 24px;}


.rwDetail_info{padding:15px;}
.rwDetail_info table{background: none; width: 100%; font-size: 12px;border-collapse: collapse;}
.rwDetail_info table tr{ border-bottom:1px solid #ddd; margin: 0;background: none;}
.rwDetail_info table tr:hover{ background: #f1f1f1;}
.rwDetail_info table tr{ transition:all 300ms ease;}
.rwDetail_info table tr.rwGroup_head{ border-bottom:2px solid #ddd;}
.rwDetail_info table th{ background: none; padding: 10px 0; text-align: center;}
.rwDetail_info table td{ background: none; padding: 10px 0; text-align: center;}


.mapTools{ position: relative; right:10px; top: 10px; z-index: 500;}
.fullScreen{ position: absolute; box-sizing: content-box;  right: 0; top: 0; width: 20px; height: 20px; padding: 7px; border-radius: 2px; box-shadow: 0 1px 2px rgba(0,0,0,.15); background: #fff;}
.fullScreen a{display: block; width: 20px; height: 20px; background: url("../images/map_tools.png") -19px -79px no-repeat; }
.mtTabs{ position: absolute; display: flex; right:44px; top: 0; width: auto; height: 34px; border-radius: 2px; box-shadow: 0 1px 2px rgba(0,0,0,.15); background: #fff;}
.mtTab{ width:auto; height: 34px; cursor: pointer; flex-grow:1; font-size: 12px; margin-right: 1px;}
.mtTab.mtMonitor,.mtTab.mtLayer{ position: relative;}
.mtTab:last-child{margin-right: 0;}
/*.mtTab:before{position:absolute; top:7px; right: -1px; display: block; content: ""; width: 1px; height: 20px; background: #eeeeee;}*/
.mtBt{ position: relative; z-index: 1200; width:auto; height: 34px; line-height: 34px; color: #666;}
.mtBt:before{position:absolute; top:7px; right: -1px; display: block; content: ""; width: 1px; height: 20px; background: #eeeeee;}
.mtTab:last-child .mtBt:before{display: none;}
.mtBt i{ float: left; display: block; width: 16px; height: 16px; margin: 9px;}
.mtBt b{ float: right; margin: 16px 8px 0 8px; display: block; width: 9px; height: 5px; background: url("../images/map_tools.png") -19px -60px no-repeat;}
.mtBt b{ transition:all 300ms ease;}
.mtTab.active .mtBt b,.mtTab:hover .mtBt b{transform:rotate(180deg);}
.mtTab.active .mtBt,.mtTab:hover .mtBt{color:#436996;}
.mtMonitor .mtBt i{ background: url("../images/map_tools.png") 0 0 no-repeat;}
.mtLayer .mtBt i{ background: url("../images/map_tools.png") -16px 0 no-repeat;}
.mtOperate .mtBt i{ background: url("../images/map_tools.png") -32px 0 no-repeat;}
.mtOperate.mtYuliang .mtBt i{ background: url("../images/map_tools.png") 0 -100px no-repeat;}
.mtOperate.mtGuiji .mtBt i{ background: url("../images/map_tools.png") -16px -100px no-repeat;}
.mtTab.active.mtMonitor .mtBt i,.mtTab:hover.mtMonitor .mtBt i{ background: url("../images/map_tools.png") 0 -16px no-repeat;}
.mtTab.active.mtLayer .mtBt i,  .mtTab:hover.mtLayer .mtBt i{ background: url("../images/map_tools.png") -16px -16px no-repeat;}
.mtTab.active.mtOperate .mtBt i,.mtTab:hover.mtOperate .mtBt i{ background: url("../images/map_tools.png") -32px -16px no-repeat;}
.mtTab.active.mtOperate.mtYuliang .mtBt i,.mtTab:hover.mtOperate.mtYuliang .mtBt i{ background: url("../images/map_tools.png") 0 -116px no-repeat;}
.mtTab.active.mtOperate.mtGuiji .mtBt i,.mtTab:hover.mtOperate.mtGuiji .mtBt i{ background: url("../images/map_tools.png") -16px -116px no-repeat;}
.mtBody{ position: absolute; display: none; top: 7px; left: 0; padding-top: 34px; box-sizing: border-box; width:100%; height: 128px; box-shadow: 0 2px 2px rgba(0,0,0,.15); background: #fff; z-index: 100; cursor: default;}
.mtTab.mtMonitor:hover .mtBody,.mtTab.mtLayer:hover .mtBody{ display: block; z-index: 1000;}
/*.mtTab:hover .mtBody{ display: block; z-index: 1000;}*/
.mtSleItem{ height: 30px; padding: 0 5px;}
.mtSleItem i{ float: left; display: block; width: 19px; height: 20px; margin: 5px 5px;}
.mtSleItem:nth-child(1) i{ background: url("../images/map_tools.png") 0 -41px no-repeat; }
.mtSleItem:nth-child(2) i{ background: url("../images/map_tools.png") 0 -61px no-repeat; }
.mtSleItem:nth-child(3) i{ background: url("../images/map_tools.png") 0 -81px no-repeat; }
.mtSleItem>label{ display: block; line-height: 30px; text-align: center; cursor: pointer;}
.mtSleItem>label>div{ margin: 6px; float: right; }

.mtTab.mtOperate:hover .mtBody{display: none;}
.mtSelect{ position: absolute; display: none; top: 7px; left: 0; padding-top: 34px; box-sizing: border-box; width:100%; height: 128px; box-shadow: 0 2px 2px rgba(0,0,0,.15); background: #fff; z-index: 100;}
.mtPlate{ width: 320px; height: 800px; background:none; right: 0; left: auto; box-shadow: none;}
.mtOperatePanel{ width: 100%; height: 800px; margin-top: 0; background: #fff; box-shadow: 0 2px 2px rgba(0,0,0,.15); border-radius: 2px;}
.mtOperatePanel .rwShowBox{ height: 750px;}
.mtOperate_inBox{ padding: 15px;}
.formRow{ height: 50px; width: 100%; padding: 5px 0;}
label{ font-weight: normal;}
.formRow label{ float: left; width: 50px; height: 40px; line-height: 40px; text-align: center; }
.timeRow label{ display: none;}
.formRow input { width:calc(100% - 50px); flex: 1; border: none; outline: none; height: 40px; line-height: 40px; padding:0 5px; border-bottom: 2px solid #f1f1f1; box-sizing: border-box;}
.timeRow {display: flex;}
.timeRow input { width:calc(50% - 15px); text-align: center;}
.betweenDS{ flex:0 0 30px; line-height: 40px; text-align: center;}
.formRow select{ width:calc(100% - 50px); border: none; outline: none; height: 40px; line-height: 40px; padding:0 5px; border-bottom: 2px solid #f1f1f1; box-sizing: border-box;}
.radioRow {display: flex;}
.radioRow label{ float: none; cursor: pointer; font-size: 12px; padding: 0;}
.radioRow .radioRow_label{flex: 0 0 50px; width: 50px; height: 40px; line-height: 40px; text-align: center;}
.radioTd{ flex: 1; border-bottom: 2px solid #f1f1f1; text-align: center;}
.formRow button,.formRow .btn{ height: 40px; background: #436996; border: none;}
.formRow button,.formRow .btn{ transition:all 300ms ease;}
.formRow button:hover,.formRow .btn:hover{background: #3087ee;}
.searchRow label{display: none;}
.searchBt{display: block; float: right; border-radius: 20px; width: 40px; height: 40px; background: #436996 url("../images/icon_searchBt.png") center center no-repeat;}
.searchBt{transition:all 300ms ease;}
.searchBt:hover{ background: #3087ee url("../images/icon_searchBt.png") center center no-repeat; }
.searchBt:active{ box-shadow: 0 3px 5px rgba(0,0,0,.3) inset; }
.mtOperate_inBox .rwDetail_info{padding: 0; margin-top: 20px;}
.mtOperate_inBox .rwDetail_info table tr:first-child{ background: #f8f8f8;}

/*≤‚ ‘∞¥≈•*/
.test{ position: absolute; left: calc(50% - 100px); top: calc(50% - 25px); border-radius: 5px; display: block; width: 200px; height: 50px; line-height: 50px; text-align: center; border: 1px solid rgba(0,0,0,.3); color: #ddd; background: rgba(0,0,0,.5);}
.test:hover{ border: 1px solid rgba(0,0,0,.5); color: #fff; background: rgba(0,0,0,.8);}



.rwUserUl{ padding: 0;}
.rwUserUl li{ float: left; width: 150px; height: 215px; padding: 5px; margin-bottom: 10px; border-radius: 5px;}
.rwUserUl li:nth-child(odd){ margin-right:10px;}
.rwUserUl li{ transition:all 300ms ease;}
.rwUserUl li:hover{ box-shadow: 0 1px 5px rgba(0,0,0,.3);}
.rwUser_avatar{ width: 140px; height: 140px; border: 1px solid #ebebeb; box-sizing: border-box; overflow: hidden;}
.rwUser_avatar img{ width: 138px; height: 138px;}
.rwUser_Info{ width: 140px; height: 65px; border: 1px solid #ebebeb; border-top: none; box-sizing: border-box; }
.rwUser_nameLine{ display: flex; line-height: 28px; padding-top: 3px;}
.rwUser_name{ width: 52px; text-align: center; font-size: 14px; }
.rwUser_phone { padding-left: 14px; color: #666; background: url("../images/phone_call.png") left center no-repeat; font-size: 12px; font-family: "ÀŒÃÂ", serif;}
.rwUser_statusLine{ display: flex; height: 28px; line-height: 28px;}
.rwUser_Msg {display: block; box-sizing: content-box; width: 28px; height: 28px; border-right: 1px solid #e0e0e0; background: url("../images/message.png") 0 0 no-repeat;}
.rwUser_Call{display: block; box-sizing: content-box; width: 28px; height: 28px; border-right: 1px solid #e0e0e0; background: url("../images/phone.png") 0 0 no-repeat;}
.rwUser_Msg.done {background: url("../images/message.png") 0 -28px no-repeat;}
.rwUser_Call.done{background: url("../images/phone.png") 0 -28px no-repeat;}

.rwUser_status { color: #999;  font-size: 12px; text-align: center; flex: 1;}
.rwUser_status_1{color: #999;}
.rwUser_status_2{color: #36df84;}
.rwUser_status_3{color: #ff5a00;}
.rwUser_status_4{color: #f00;}

.rwDetail_info_sbwzUl{ margin: 0;}
.rwDetail_info_sbwzUl li{ display: flex; width: 100%; height: 90px; margin-bottom: 10px; border: 1px solid #e0e0e0; border-radius: 5px; align-items:center;}
.rwDetail_info_sbwzUl li:last-child{margin-bottom: 0;}
.rwDetail_info_sbwz_thumb{ width: 80px; height: 80px; margin: 4px; overflow: hidden; text-align:center; border-radius: 5px; }
.rwDetail_info_sbwz_detail{flex: 1; text-align: right; padding-right: 15px;}
.rwDetail_info_sbwz_name{ font-size: 14px; line-height: 30px;}
.rwDetail_info_sbwz_num  { font-size: 12px; color: #999; line-height: 20px;}
.rwDetail_info_sbwz_count{ font-size: 12px; color: #999; line-height: 20px;}



